<p id="notice"><%= notice %></p>

<h1>Prototypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prototypes.each do |prototype| %>
      <tr>
        <td><%= prototype.name %></td>
        <td><%= prototype.description %></td>
        <td><%= link_to 'Show', prototype %></td>
        <td><%= link_to 'Edit', edit_prototype_path(prototype) %></td>
        <td><%= link_to 'Destroy', prototype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prototype', new_prototype_path %>
